body {
  margin: 0;
}

.bottons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  background: #cdf6ff;

  button {
    padding: 10px 20px;
    color: #cef6ff;
    background: #027c8e;
    border: none;
    outline: none;

      &:hover {
        background: #08cae7;
        cursor: pointer;
      }

      &.active {
        border-left: 5px solid #4cec3f;
      }
  }

}
